@inherits ComponentBase
@rendermode InteractiveServer
@using PoliceUk.Entities.StreetLevel;
@inject ApiService ApiService
@inject IJSRuntime JSRuntime;

<p>Crimes last updated at: @LastUpdated.ToShortDateString()</p>

<div class="row align-items-center">
	<div class="col-md-auto mt-3">
		<button class="btn btn-primary" @onclick="GetLocation">
			<Icon Name="IconName.Crosshair" />
		</button>
	</div>
	<div class="col-sm-3">
		<label for="latitude">Latitude:</label>
		<InputNumber id="latitude" @bind-Value="Latitude" class="form-control" />
	</div>
	<div class="col-sm-3">
		<label for="longitude">Longitude:</label>
		<InputNumber id="longitude" @bind-Value="Longitude" class="form-control" />
	</div>
	<div class="col-sm-3">
		<label for="month">Month:</label>
		<InputSelect id="month" class="form-select" @bind-Value="SelectedMonth">
			<option value="1">January</option>
			<option value="2">February</option>
			<option value="3">March</option>
			<option value="4">April</option>
			<option value="5">May</option>
			<option value="6">June</option>
			<option value="7">July</option>
			<option value="8">August</option>
			<option value="9">September</option>
			<option value="10">October</option>
			<option value="11">November</option>
			<option value="12">December</option>
		</InputSelect>
	</div>
	<div class="col-sm-1 mt-4">
		<button class="btn btn-primary" @onclick="Search">Search</button>
	</div>
</div>

@code {
	[Parameter]
	public double Latitude { get; set; }

	[Parameter]
	public double Longitude { get; set; }

	[Parameter]
	public int SelectedMonth { get; set; }

	[Parameter]
	public EventCallback<(double latitude, double longitude, int selectedMonth)> OnSearch { get; set; }

	private DateTime LastUpdated;

	protected override async Task OnInitializedAsync()
	{
		LastUpdated = await ApiService.GetLastUpdated();
	}

	async Task GetLocation()
	{
		await JSRuntime.InvokeVoidAsync("getLocation", DotNetObjectReference.Create(this));
	}

	[JSInvokable]
	public void LocationReceived(double latitude, double longitude)
	{
		Latitude = latitude;
		Longitude = longitude;
	}

	private async Task Search()
	{
		await OnSearch.InvokeAsync((Latitude, Longitude, SelectedMonth));
	}
}
